<% title "Comments" %>

<p>
  <strong>Comment Thread:</strong>
  <%=h @comments.comment_thread_id %>
</p>
<p>
  <strong>Content:</strong>
  <%=h @comments.content %>
</p>
<p>
  <strong>User:</strong>
  <%=h @comments.user_id %>
</p>
<p>
  <strong>Deleted At:</strong>
  <%=h @comments.deleted_at %>
</p>
<p>
  <strong>Admin Note:</strong>
  <%=h @comments.admin_note %>
</p>

<p>
  <%= link_to "Edit", edit_comments_path(@comments) %> |
  <%= link_to "Destroy", @comments, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", comments_path %>
</p>
